
.container {
width: 1170px;
margin-left: auto;
margin-right: auto;
position: relative;
min-height: 100vh;
}

.btn-group-vertical #gumbki button {
display: flex;
margin-bottom: 5px; 
width: 400px;
}


body {
background-image: url('https://epe.brightspotcdn.com/6c/2d/8075c8fe4730ad452f170468720f/math-algebra-1458664845.jpg');
background-size: cover;
background-repeat: no-repeat;
margin-bottom: 0px;
}

#TabelaSt td {
font-weight: bold;
text-align: center;
text-shadow: 1px 1px 1px rgba(234, 237, 231, 0.925);
}

.row.justify-content-center {
text-align: center;
}
  
h1, h2 {
text-align: center;
text-shadow: 2px 2px 2px rgb(57, 196, 231);
}

#TabelaSt {
margin-top: 20px;
}

.footer {
position: static;
bottom: 0;
left: 0;
right: 0;
background-color: #333;
color: white;
text-align: center;
overflow: hidden;
padding: 20px;
padding-bottom: 15px;
}

